<h4>
    <%= @title %>
</h4>
<form accept-charset="UTF-8" action="/" data-remote="true" method="post">
    <input type = 'text' placeholder = "Введите число бананов" id='banan'/>
    <input type="text" placeholder ="Введите цену" id='price'/>
    <button class="btn btn-success" id="res">Результат</button>
        <Label id='tex'></label>
    </form>
